{% extends'layout1.html' %}
{% block body %}
  <body id="form-body">

  	<div class="my-5 d-flex flex-row justify-content-center align-items-center">
		<div class="col-3"></div>
		<div class="col-6 d-flex flex-row" id="form-main" >
			<div class="col-9">
			<form action="success.html" method="post">
        <div class="form-group mt-5 ml-3">
  				<label for="form-first-name">College name:</label>
  				<input id="form-first-name" type="text" class="form-control" required>
  			</div>
        
